<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".ExplainActivity"
            android:exported="false" />
        <activity
            android:name=".NORActivity"
            android:exported="false" />
        <activity
            android:name=".BUFFERActivity"
            android:exported="false" />
        <activity
            android:name=".NOTActivity"
            android:exported="false" />
        <activity
            android:name=".ORActivity"
            android:exported="false" />
        <activity
            android:name=".XORActivity"
            android:exported="false" />
        <activity
            android:name=".NANDActivity"
            android:exported="false" />
        <activity
            android:name=".ANDActivity"
            android:exported="false" />
        <activity
            android:name=".XNORActivity"
            android:exported="false" />
        <activity
            android:name=".CurtainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="CurtainActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>